*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.max-width {
    max-width: 1120px !important;
}

@media (max-width: 992px) {
    .max-width {
        padding: 0 1.5rem;
    }
}

nav {
    margin: 20px 0;
}

.nav-item:not(.nav-item:last-child) {
    padding: 0 40px 0 0 !important;
}

.nav-link {
    padding: 0 !important;
    transition: all 0.75s ease-in-out;
    color: black;
}

.nav-link:hover {
    scale: 1.03;
    color: rgb(63, 63, 63);
}

@media (max-width: 992px) {
    .nav-link {
        padding-top: 10px !important;
    }
}

.header_top {
    padding: 15px 0;
}

.footer_container {
    background-image: linear-gradient(to bottom, #11162e, #1e1e1e);
    /* margin-top: 50px !important; */
}

.footer {
    /* padding-top: 20px; */
    color: #fff;
}

@media(max-width:768px){
    .footer{
        padding-top: 20px;
    }
}

.footer_short_text {
    text-align: justify;
    padding: 30px 0;
}

.footer_section_title {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.footer_links_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_links_container > a {
    text-decoration: none;
}

.footer_links_item {
    color: #fff;
    transition: all 0.75s ease-in-out;
}

.footer_links_item:hover {
    color: #b3b3b3;
}

.support_links_container {
    margin-top: 15px;
}

.footer_seperator {
    color: #fff !important;
    z-index: 5;
    max-width: 1180px;
}

.footer_bottom {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .footer_bottom {
        flex-direction: column;
        align-items: center;
    }
}

.footer_bottom > a {
    text-decoration: none;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.autoplay {
    overflow: hidden;
    margin-top: 20px;
}

.hero_carousel_img {
    max-height: 614px;
    object-fit: cover;
}

.hero_carousel_overlay {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.hero_carousel_text {
    font-size: 48px;
    font-weight: bolder;
}

.hero_carousel_btn {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    background-color: #275599;
    opacity: 80%;
    padding: 12px 45px;
    border-radius: 10px;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .hero_carousel_text,
    .hero_carousel_btn {
        font-size: 24px;
    }

    .hero_carousel_btn {
        padding: 8px 25px;
    }
}

.hero_carousel_btn:hover{
    opacity: 100%;
}

.autoplay {
    position: relative;
}

.hero_carousel_prev_arr {
    position: absolute;
    top: 40%;
    left: 60px;
    z-index: 5;
    cursor: pointer;
    transition: all 0.75s ease-in-out;
}

.hero_carousel_next_arr {
    position: absolute;
    top: 40%;
    right: 60px;
    z-index: 5;
    cursor: pointer;
    transition: all 0.75s ease-in-out;
}

@media (max-width: 768px) {
    .hero_carousel_prev_arr {
        display: none !important;
    }

    .hero_carousel_next_arr {
        display: none !important;
    }
}

.hero_carousel_prev_arr:hover, .hero_carousel_next_arr:hover{
    fill: #b3b3b3;
    scale: 1.2;
}

.tiny_section_title{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #2E2CB0;
    text-transform: uppercase;
}

.section_main_title{
    text-transform: uppercase;
    font-size: 2.25rem;
    color: #285599;
    margin: 30px 0px;
    text-align: center;
}

.service_catelog_container{
    margin-top: 20px;
}

.service_catalog{
    border-radius: 50%;
    background-color: #275599;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_catalog_title{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.service_catalog_description{
    text-align: justify;
}

.achievements{
    background-image: url("../images/success-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 48px auto;
    margin-top: 50px;
    position: relative;
}

.achievements_digits{
    font-size: 48px;
    font-weight: bolder;
    color: #fff;
}

.achievements_slogan{
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bolder;
}

.achievements_overlay{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4) !important;
    z-index: -1;
}

.about_us_title{
    font-size: 36px;
    font-weight: 600;
    color: #285599;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.home_about_us_img{
    max-height: 315px;
    max-width: 475px;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}

@media(max-width:992px){
    .home_about_us_img{
        max-height: 100%;
        max-width: 100%;
    }
}

.about_us_tiny_title{
    margin-top: 0;
    margin-bottom: 20px;
}

.about_us_desc_1, .about_us_desc_2{
    text-align: justify;
}

.about_us_desc_2{
    margin-top: 20px;
}

.about_us_btn{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background-color: #285599;
    /* opacity: 80%; */
    padding: 14px 45px;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.75s ease-in-out;
}

.about_us_btn:hover{
    scale: 1.01;
    background-color: #2E2CB0;
}

.products{
    margin-top: 50px;
}

.products_main_title{
    font-size: 36px;
    font-weight: bolder;
    color: #285599;
    text-align: center;
    text-transform: uppercase;
}

.home_products_container{
    margin-top: 50px;
}

.home_product_img{
    max-width: 265px;
    max-height: 370px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all 0.75s ease-in-out;
}

.home_product_img:hover{
    scale: 1.05;
}

@media(max-width:576px){
    .home_product_img{
        max-width: 100%;
        max-height: 100%;
    }
}

.home_product_title{
    margin-top: 15px;
    font-weight: 500;
}

.home_products_btn{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 15px 40px;
    background: #285599;
    display: inline-block;
    border-radius: 10px;
    margin-top: 30px;
    transition: all 0.75s ease-in-out;
}

.home_products_btn:hover{
    background-color: #2E2CB0;
    scale: 1.01;
}

.home_management{
    margin-bottom: 50px !important;
}

.management_main_title{
    font-size: 36px;
    font-weight: bolder;
    color: #285599;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}

.management_short_description{
    text-align: center;
    margin-top: 35px;
    font-size: 20px;
}

.home_management_img{
    width: 100%;
    height: 100%;
    max-height: 180px;
    max-width: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.home_management_name{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
}

.home_management_position{
    font-size: 20px;
    text-transform: uppercase;
}

.home_management_bar{
    height: 3px;
    width: 100px;
    background: #000;
}

.home_management_description{
    text-align: center;
}

.home_management_slider{
    overflow: hidden;
    margin-top: 50px;
    /* padding-bottom: 30px !important; */
}

.home_management_right_arr, .home_management_left_arr{
    border: 1px solid #333;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
}

.home_management_right_arr{
    right: 0;
    top: 50%;
    cursor: pointer;
}

.home_management_left_arr{
    top: 50%;
    left: 0;
    cursor: pointer;
}

.home_management_right_arr:hover, .home_management_left_arr:hover{
    scale: 1.02;
    color: #333;
    border-color: #333;
}
